// .custom-btn(@btn-color, 80%)
.custom-btn(@bg-color, @font-color, @btn-width) {
    background: @bg-color;
    border-radius: 5px;
    color: @font-color;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 8px 0;
    text-align: center;
    width: @btn-width;
}
.undecorate() {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.width-main() {
    display: block;
    margin: 0 auto;
    width: @content-width-desk;
    @media @min-break {
        width: @content-width-mobile;
    }
}